<!-- Dans votre fichier principal (par exemple, index.html) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Inclure le fichier head.html -->
    <div id="head-placeholder"></div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="preload" href="/stylesheets/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <script src="/javascripts/app-client.js"></script>

    <title>Login Page</title>
</head>
<body class="container">
<!-- Inclusion du header -->
<div id="header-placeholder"></div>

<form id="LoginFrom" class="mt-4" action="/login/login" method="post">
    <div class="form-group">
        <h3>Login :</h3>
        <div class="form-check">
            <label for="username" class="form-check-label">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

<!-- Placeholder pour le footer -->
<div id="footer-placeholder"></div>

</body>
</html>
