<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" href="/images/Logo_MetricInsight.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/Logo_MetricInsight.ico" type="image/x-icon">

    <!-- Inclure le fichier head.html -->
    <div id="head-placeholder"></div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="preload" href="/stylesheets/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <script src="/javascripts/app-client.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>MetricInsight working</title>
</head>
<body>
<!-- Inclusion du header -->
<div id="header-placeholder"></div>

<div class="container mt-5 text-center">
    <form id="startMetricInsight" class="mt-4" method="post">
        <div style="text-align: center;">
            <button id="submitFormButtonStart" type="submit" class="btn btn-primary">Start MetricInsight</button>
            <button id="submitFormButtonEnd" type="button" class="btn btn-primary" style="display: none;">Stop MetricInsight</button>
            <button id="submitFormButtonReset" type="button" class="btn btn-primary" style="display: none;">Reset MetricInsight</button>
            <button id="saveDataButton" type="button" class="btn btn-success" style="display: none;">Save all data</button>
        </div>
    </form>
</div>

<div id="CPU_PID_Chart_Container" class="container mt-5 text-center" style="display:none;">
    <h2>% CPU</h2>

    <!-- Canvas for the chart -->
    <canvas id="CPU_PID_Chart" width="400" height="200"></canvas>

    <!-- Save button -->
    <button id="CPU_PID_saveButton" class="btn btn-primary mt-3">Save Data</button>
</div>

<div id="CPU_Chart_Container" class="container mt-5 text-center" style="display:none;">
    <h2>% CPU</h2>

    <!-- Canvas for the chart -->
    <h3>CPU global</h3>
    <canvas id="CPU_Chart" width="400" height="200"></canvas>

    <!-- First Line -->
    <div class="row">
        <div class="col-md-6">
            <h3>CPU core 0</h3>
            <canvas id="CPU_0_Chart" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
            <h3>CPU core 1</h3>
            <canvas id="CPU_1_Chart" width="400" height="200"></canvas>
        </div>
    </div>

    <!-- Second Line -->
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>CPU core 2</h3>
            <canvas id="CPU_2_Chart" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
            <h3>CPU core 3</h3>
            <canvas id="CPU_3_Chart" width="400" height="200"></canvas>
        </div>
    </div>

    <!-- Third Line -->
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>CPU core 4</h3>
            <canvas id="CPU_4_Chart" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
            <h3>CPU core 5</h3>
            <canvas id="CPU_5_Chart" width="400" height="200"></canvas>
        </div>
    </div>

    <!-- Fourth Line -->
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>CPU core 6</h3>
            <canvas id="CPU_6_Chart" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
            <h3>CPU core 7</h3>
            <canvas id="CPU_7_Chart" width="400" height="200"></canvas>
        </div>
    </div>

    <!-- Fifth Line -->
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>CPU core 8</h3>
            <canvas id="CPU_8_Chart" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
            <h3>CPU core 9</h3>
            <canvas id="CPU_9_Chart" width="400" height="200"></canvas>
        </div>
    </div>

    <!-- Third Line -->
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>CPU core 10</h3>
            <canvas id="CPU_10_Chart" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
            <h3>CPU core 11</h3>
            <canvas id="CPU_11_Chart" width="400" height="200"></canvas>
        </div>
    </div>

    <!-- Save button -->
    <button id="CPU_saveButton" class="btn btn-primary mt-3">Save Data</button>
</div>

<div id="GPU_Chart_Container" class="container mt-5 text-center" style="display:none;">
    <h2>% GPU</h2>

    <!-- Canvas for the chart -->
    <canvas id="GPU_Chart" width="400" height="200"></canvas>

    <!-- Save button -->
    <button id="GPU_saveButton" class="btn btn-primary mt-3" ali>Save Data</button>
</div>

<div id="Memory_Chart_Container" class="container mt-5 text-center" style="display:none;">
    <h2>Memory utilisation</h2>

    <!-- Canvas for the chart -->
    <canvas id="Memory_Chart" width="400" height="200"></canvas>

    <!-- Save button -->
    <button id="Memory_saveButton" class="btn btn-primary mt-3">Save Data</button>
</div>

<div id="Memory_PID_Chart_Container" class="container mt-5 text-center" style="display:none;">
    <h2>Memory utilisation</h2>

    <!-- Canvas for the chart -->
    <canvas id="Memory_PID_Chart" width="400" height="200"></canvas>

    <!-- Save button -->
    <button id="Memory_PID_saveButton" class="btn btn-primary mt-3">Save Data</button>
</div>

<div id="Power_Chart_Container" class="container mt-5 text-center" style="display:none;">
    <h2>Power</h2>

    <!-- First Line -->
    <div class="row">
        <div class="col-md-6">
            <h3>vdd gpu soc</h3>
            <canvas id="Power_0_Chart" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
            <h3>vdd cpu cv</h3>
            <canvas id="Power_1_Chart" width="400" height="200"></canvas>
        </div>
    </div>

    <!-- Second Line -->
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>vin sys 5 v0</h3>
            <canvas id="Power_2_Chart" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
            <h3>vddq vdd2 1 v8ao</h3>
            <canvas id="Power_3_Chart" width="400" height="200"></canvas>
        </div>
    </div>

    <!-- Save button -->
    <button id="Power_saveButton" class="btn btn-primary mt-3">Save Data</button>
</div>



<!-- Placeholder pour le footer -->
<div id="footer-placeholder"></div>

</body>

<script>

    let adresseIP = "http://10.0.0.10:3001/";
    let Charts = {};

    function createGraphe(chart_name, container_name ,canva_id, dataX, dataY) {
        let ctx = document.getElementById(canva_id).getContext('2d');

        let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataX,
                datasets: [{
                    label: chart_name,
                    data: dataY,
                    borderColor: 'blue',
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: {
                scales: {
                    x: [{
                        type: 'linear',
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: 'Temps (s)'
                        }
                    }],
                    y: [{
                        type: 'linear',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: '% ' + chart_name
                        }
                    }]
                }
            }
        });
        Charts[chart_name] = myChart;
        document.getElementById(container_name + "_Chart_Container").style.display = "block";
        return myChart;
    }

    function suppressGraph(name) {
        Charts[name].destroy()

        document.getElementById(name + "_Chart_Container").style.display = "none";

    }

    function addDataToGraph(newData , myChart) {
        let dataX = myChart.data.labels;
        let dataY = myChart.data.datasets[0].data;
        for (let i = 0; i < newData.length; i++) {
            dataX.push(newData[i][0].toFixed(2));
            dataY.push(newData[i][1]);
        }

        myChart.data.labels = dataX;
        myChart.data.datasets[0].data = dataY;
        myChart.update();

    }

    function startMetricInsight(event) {
        event.preventDefault();
        var originalDisplayStyle = document.getElementById("submitFormButtonStart").style.display;
        document.getElementById("submitFormButtonStart").disabled = true;
        document.getElementById("submitFormButtonStart").style.display = "none";
        document.getElementById("submitFormButtonEnd").style.display = originalDisplayStyle;
        document.getElementById("submitFormButtonReset").style.display = originalDisplayStyle;

        fetch('/configuration/get/MetricInsightConfiguration.json')
            .then(response => response.json())
            .then(my_config => {
                fetch(adresseIP + 'MetricInsight/start', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(my_config),
                }).then(response => response.json())
                    .then(data => {
                        if (data.acknowledgement) {
                        } else {
                            alert("Configuration is not valid. Please check it.");
                            window.location.href = "/configuration";
                        }
                    })
                    .catch(error => {
                        console.error('Erreur lors de la requête fetch :', error);
                    })
                    .finally(() => {
                        if (my_config['pidCheckbox'] === "on") {
                            if (my_config['cpuCheckbox'] === "on") {
                                let CPU_Chart = createGraphe('CPU_PID', 'CPU_PID','CPU_PID_Chart', [], [])
                                createSSE('CPU_PID');
                            }

                            if (my_config['memoryCheckbox'] === "on") {
                                let Memory_Chart = createGraphe('Memory_PID', 'Memory_PID', 'Memory_PID_Chart', [], [])
                                createSSE('Memory_PID');
                            }
                        }
                        else {
                            if (my_config['cpuCheckbox'] === "on") {
                                let CPU_Chart = createGraphe('CPU', 'CPU','CPU_Chart', [], [])
                                let CPU_0_Chart = createGraphe('CPU_0', 'CPU','CPU_0_Chart', [], [])
                                let CPU_1_Chart = createGraphe('CPU_1', 'CPU','CPU_1_Chart', [], [])
                                let CPU_2_Chart = createGraphe('CPU_2', 'CPU','CPU_2_Chart', [], [])
                                let CPU_3_Chart = createGraphe('CPU_3', 'CPU','CPU_3_Chart', [], [])
                                let CPU_4_Chart = createGraphe('CPU_4', 'CPU','CPU_4_Chart', [], [])
                                let CPU_5_Chart = createGraphe('CPU_5', 'CPU','CPU_5_Chart', [], [])
                                let CPU_6_Chart = createGraphe('CPU_6', 'CPU','CPU_6_Chart', [], [])
                                let CPU_7_Chart = createGraphe('CPU_7', 'CPU','CPU_7_Chart', [], [])
                                let CPU_8_Chart = createGraphe('CPU_8', 'CPU','CPU_8_Chart', [], [])
                                let CPU_9_Chart = createGraphe('CPU_9', 'CPU','CPU_9_Chart', [], [])
                                let CPU_10_Chart = createGraphe('CPU_10', 'CPU','CPU_10_Chart', [], [])
                                let CPU_11_Chart = createGraphe('CPU_11', 'CPU','CPU_11_Chart', [], [])
                                createSSE('CPU');
                            }
                            if (my_config['memoryCheckbox'] === "on") {
                                let Memory_Chart = createGraphe('Memory','Memory', 'Memory_Chart', [], [])
                                createSSE('Memory');
                            }
                        }

                        if (my_config['gpuCheckbox'] === "on") {
                            let GPU_Chart = createGraphe('GPU', 'GPU', 'GPU_Chart', [], [])
                            createSSE('GPU');
                        }
                        if (my_config['powerCheckbox'] === "on") {
                            let Power_0_Chart = createGraphe('vdd_gpu_soc', 'Power','Power_0_Chart', [], [])
                            let Power_1_Chart = createGraphe('vdd_cpu_cv', 'Power', 'Power_1_Chart', [], [])
                            let Power_2_Chart = createGraphe('vin_sys_5_v0','Power', 'Power_2_Chart', [], [])
                            let Power_3_Chart = createGraphe('vddq_vdd2_1_v8_ao','Power', 'Power_3_Chart', [], [])
                            createSSE('Power');
                        }

                        //document.getElementById("submitFormButton").disabled = true;
                    });

            })
            .catch(error => {
                console.error('Erreur lors de la récupération du fichier JSON :', error);
                document.getElementById("submitFormButtonStart").disabled = false;
            });

        document.getElementById('saveDataButton').style.display = 'block'; // Afficher le bouton de sauvegarde
    }

    function endMetricInsight(event) {
        event.preventDefault();
        document.getElementById("submitFormButtonEnd").style.display = "none";

        fetch(adresseIP + 'MetricInsight/stop', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({}),
        }).then(response => response.json())
            .then(data => {
                if (data.acknowledgement) {
                } else {
                    alert("Error while stopping MetricInsight");
                }
            })
            .catch(error => {
                console.error('Erreur lors de la requête fetch :', error);
            })
            .finally(() => {
                document.getElementById("submitFormButtonStart").disabled = false;
            });

    }

    function resetMetricInsight() {
        for (let chartName in Charts) {
            suppressGraph(chartName);
        }
        let originalDisplayStyle = document.getElementById("submitFormButtonReset").style.display;
        document.getElementById('saveDataButton').style.display = 'none';
        document.getElementById("submitFormButtonStart").style.display = originalDisplayStyle;
        document.getElementById("submitFormButtonReset").style.display = "none";
    }

    function createSSE (name){
        console.log("Démarrage de l'EventSource");
        let sse = new EventSource(adresseIP + 'MetricInsight/get_data/' + name);
        sse.addEventListener('message', function(e) {
            let data = JSON.parse(e.data);
            if (!data) {
                console.log('no data in event');
            }
            else if (data['end'] === -1) {
                console.log('closing connection')
                sse.close()
            }

            else {
                console.log(name);
                if (name === 'Power') {
                    let dataToPlot = [[], [], [], []];

                    for (let i = 0; i < data['data'].length; i++) {
                        dataToPlot[0].push([data['data'][i][0], data['data'][i][1]]);
                        dataToPlot[1].push([data['data'][i][0], data['data'][i][2]]);
                        dataToPlot[2].push([data['data'][i][0], data['data'][i][3]]);
                        dataToPlot[3].push([data['data'][i][0], data['data'][i][4]]);
                    }

                    console.log(dataToPlot);

                    addDataToGraph(dataToPlot[0], Charts['vdd_gpu_soc']);
                    addDataToGraph(dataToPlot[1], Charts['vdd_cpu_cv']);
                    addDataToGraph(dataToPlot[2], Charts['vin_sys_5_v0']);
                    addDataToGraph(dataToPlot[3], Charts['vddq_vdd2_1_v8_ao']);

                }
                else if (name === 'CPU') {
                    let dataToPlot = [];
                    for (let k = 0; k < 13; k++) {
                        dataToPlot.push([]);
                    }
                    for (let i = 0; i < data['data'].length; i++) {
                        dataToPlot[0].push([data['data'][i][0], data['data'][i][1]]);
                        dataToPlot[1].push([data['data'][i][0], data['data'][i][2]]);
                        dataToPlot[2].push([data['data'][i][0], data['data'][i][3]]);
                        dataToPlot[3].push([data['data'][i][0], data['data'][i][4]]);
                        dataToPlot[4].push([data['data'][i][0], data['data'][i][5]]);
                        dataToPlot[5].push([data['data'][i][0], data['data'][i][6]]);
                        dataToPlot[6].push([data['data'][i][0], data['data'][i][7]]);
                        dataToPlot[7].push([data['data'][i][0], data['data'][i][8]]);
                        dataToPlot[8].push([data['data'][i][0], data['data'][i][9]]);
                        dataToPlot[9].push([data['data'][i][0], data['data'][i][10]]);
                        dataToPlot[10].push([data['data'][i][0], data['data'][i][11]]);
                        dataToPlot[11].push([data['data'][i][0], data['data'][i][12]]);
                        dataToPlot[12].push([data['data'][i][0], data['data'][i][13]]);
                    }

                    console.log(dataToPlot);

                    addDataToGraph(dataToPlot[0], Charts['CPU']);
                    addDataToGraph(dataToPlot[1], Charts['CPU_0']);
                    addDataToGraph(dataToPlot[2], Charts['CPU_1']);
                    addDataToGraph(dataToPlot[3], Charts['CPU_2']);
                    addDataToGraph(dataToPlot[4], Charts['CPU_3']);
                    addDataToGraph(dataToPlot[5], Charts['CPU_4']);
                    addDataToGraph(dataToPlot[6], Charts['CPU_5']);
                    addDataToGraph(dataToPlot[7], Charts['CPU_6']);
                    addDataToGraph(dataToPlot[8], Charts['CPU_7']);
                    addDataToGraph(dataToPlot[9], Charts['CPU_8']);
                    addDataToGraph(dataToPlot[10], Charts['CPU_9']);
                    addDataToGraph(dataToPlot[11], Charts['CPU_10']);
                    addDataToGraph(dataToPlot[12], Charts['CPU_11']);

                }
                else {
                    console.log(data);
                    addDataToGraph(data['data'], Charts[name]);

                }
            }
        });
    }

    function init() {
        document.getElementById("startMetricInsight").addEventListener("submit", startMetricInsight);
        document.getElementById("submitFormButtonEnd").addEventListener("click", endMetricInsight);
        document.getElementById("submitFormButtonReset").addEventListener("click", resetMetricInsight);
    }

    document.addEventListener('DOMContentLoaded', init);

    document.getElementById('saveDataButton').addEventListener('click', function () {
        saveAllChartData(Charts)
    });

    function saveAllChartData(Charts) {

        let ChartData = {};

        for (let chartName in Charts) {
            ChartData[chartName] = {
                labels: Charts[chartName].data.labels,
                datasets: [{
                    label: Charts[chartName].data.datasets[0].label,
                    data: Charts[chartName].data.datasets[0].data,
                }]
            };
        }

        // Convertissez les données en format JSON
        let jsonData = JSON.stringify(ChartData, null, 2); // L'utilisation de null et 2 ajoute l'indentation pour une meilleure lisibilité

        // Créez un objet Blob avec le contenu JSON
        let blob = new Blob([jsonData], { type: 'application/json' });

        // Créez un objet URL pour le Blob
        let url = URL.createObjectURL(blob);

        // Créez un élément d'ancre pour déclencher le téléchargement
        let a = document.createElement('a');
        a.href = url;
        a.download = 'chart_data.json'; // Nom du fichier à télécharger

        // Ajoutez l'élément d'ancre à la page et cliquez dessus pour déclencher le téléchargement
        document.body.appendChild(a);
        a.click();

        // Supprimez l'élément d'ancre de la page
        document.body.removeChild(a);
    }

</script>

</html>