<!-- footer.html -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>MetricInsight</h4>
                <p>Visualize your consumption precisely!</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/configuration">Configuration</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact-us !</h5>
                <ul class="list-unstyled">
                    <li>Email: info@metricinsight.com</li>
                    <li>Téléphone: +1 (123) 456-7890</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">© 2024 MetricInsight. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
